{% extends 'base.html' %}
{% load comments %}

{% block content %}


{% if is_paginated %}
<ol start="{{page_obj.start_index}}">
{% else %}
<ol>
{% endif %}
    {% for link in object_list %}
    <form method="post" action="{% url 'vote' %}" class="vote-form">{% csrf_token %}
    <li> [{{link.votes}}]
        <input type="hidden" id="id_voter" class="hidden_id" name="voter" value="{{user.pk}}">
        <input type="hidden" id="id_news" class="hidden_id" name="news" value="{{link.pk}}">
        <button>vote</button>
        <a href="{% url 'news_detail' pk=link.pk %}">
            <b>{{link.title}}</b>
            {% get_comment_count for link as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}
        </a>
    </li>
    </form>
    {% endfor %}
</ol>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">More</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
